<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="close store">
		<meta name="keywords" content="HTML,CSS,XML,JavaScript">
		<meta name="author" content="Serge Kenne">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Contact us</title>
		<!-- <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700,900" rel="stylesheet" type="text/css"> -->
		<!-- <link rel="stylesheet" href="css/font-awesome.css"> -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
		<link rel="stylesheet" href="css/reset.css">
		<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/jquery.bxslider.css">
		<link rel="stylesheet" href="css/flexslider.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="wrapper" id="app">
			<header class="header">
				<div class="container">
					<div class="header__top">
						<ul class="top-list header__top-list clearfix">
							<li class="top-list__item"><a href="#" class="top-list__link">login in <i class="fas fa-lock top-list__icon"></i></a></li>
							<li class="top-list__item"><a href="#" class="top-list__link">create an account <i class="fas fa-user top-list__icon"></i></a></li>
							<li class="top-list__item"><a href="#" class="top-list__link">check out <i class="fas fa-arrow-right top-list__icon"></i></a></li>
							<li class="top-list__item">
								<select name="" id="">
									<option value="USD">USD</option>
									<option value="GBP">GBP</option>
									<option value="EUR">EUR</option>
								</select>
							</li>
						</ul>
					</div>
					<div class="header__content clearfix"> 
						<a href="index.html" class="header__logo">
							<img class="header__logo-picture" src="img/logo1.jpg" alt="log">
							<!-- <span class="header__big-logo">clothes</span><br><span class="header__small-logo">store</span> -->
						</a>
						<form class="form-search header__form-search">
							<input type="text" class="form-search__input">
							<span class="form-search__btn"><button class="btn" type="submit">search</button></span>
						</form>
						<div class="header__shopping">
							<a href="#" class="shopping">
								<span class="shopping__header">shopping</span><br>
								<span class="shopping__text">cart: <span class="shopping__counter">0</span></span>
								<img src="img/shopping_cart_bg.png" class="shopping__cart"> 
							</a>
						</div>
					</div>
				</div>
			</header>
			<nav class="navbar" id="mainnav">
				<div class="container">
					<div class="navbar__menu" id="main-btn-js">salut frere 
						<span class="menu-icon navbar__menu-icon">
							<i class="menu-icon__plus fas fa-plus-square"></i>
							<i class="menu-icon__minus fas fa-minus-square"></i>
						</span>
					</div>
					<ul class="navbar__list clearfix" id="main-list-js">
						<li class="navbar__item"><a href="index.html" class="navbar__link navbar__link--active"><span class="navbar__inner">home</span></a></li>
						<li class="navbar__item">
							<a href="#" class="navbar__link">
								<span class="navbar__inner">catalog<i class="fas fa-angle-down navbar__icon"></i>
									<span class="menu-icon navbar__inner-icon" id="nav-btn-js">
										<i class="menu-icon__plus fas fa-plus-square"></i>
										<i class="menu-icon__minus fas fa-minus-square"></i>
									</span>
								</span>
							</a>
							<ul class="navbar__sub-list clearfix" id="nav-list-js">
								<li class="navbar__sub-item">
									<ul class="navbar__element-list">
										<li class="navbar__element-item navbar__element-item--header">lorem ipsum
											<span class="menu-icon navbar__element-icon element-btn-js">
												<i class="menu-icon__plus fas fa-plus-square"></i>
												<i class="menu-icon__minus fas fa-minus-square"></i>
											</span>
										</li>
										<div class="navbar__element-sub-item element-item-js">
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">basics</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">blazers & kimonos</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">cardigans & sweaters</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">dresses</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">jackets & coats</a></li>
										</div>
									</ul>
								</li>
								<li class="navbar__sub-item">
									<ul class="navbar__element-list">
										<li class="navbar__element-item navbar__element-item--header">dolor
											<span class="menu-icon navbar__element-icon element-btn-js">
												<i class="menu-icon__plus fas fa-plus-square"></i>
												<i class="menu-icon__minus fas fa-minus-square"></i>
											</span>
										</li>
										<div class="navbar__element-sub-item element-item-js">
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">jeans</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">lingerie</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">pants</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">shirts & blouses</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">shorts</a></li>
										</div>
									</ul>
								</li>
								<li class="navbar__sub-item">
									<ul class="navbar__element-list">
										<li class="navbar__element-item navbar__element-item--header">sit amet
											<span class="menu-icon navbar__element-icon element-btn-js">
												<i class="menu-icon__plus fas fa-plus-square"></i>
												<i class="menu-icon__minus fas fa-minus-square"></i>
											</span>
										</li>
										<div class="navbar__element-sub-item element-item-js">
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">tops</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">skirts</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">shorts</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">Jackets & Coats</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">pants</a></li> 
										</div>
									</ul>
								</li>
								<li class="navbar__sub-item">
									<ul class="navbar__element-list">
										<li class="navbar__element-item navbar__element-item--header">adipisicing elit
											<span class="menu-icon navbar__element-icon element-btn-js">
												<i class="menu-icon__plus fas fa-plus-square"></i>
												<i class="menu-icon__minus fas fa-minus-square"></i>
											</span>
										</li>
										<div class="navbar__element-sub-item element-item-js">
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">jeans</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">blazers & kimonos</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">dressers</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">lingeries</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">Shirts & Blouses</a></li>
										</div>
									</ul>
								</li>
								<li class="navbar__sub-item">
									<ul class="navbar__element-list">
										<li class="navbar__element-item navbar__element-item--header">fugiat provident
											<span class="menu-icon navbar__element-icon element-btn-js">
												<i class="menu-icon__plus fas fa-plus-square"></i>
												<i class="menu-icon__minus fas fa-minus-square"></i>
											</span>
										</li>
										<div class="navbar__element-sub-item element-item-js">
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">blazers & kimonos</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">dressers</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">jeans</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">cardigans & sweaters</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">shorts</a></li>
										</div>
										
									</ul>
								</li>
								<li class="navbar__sub-item">
									<ul class="navbar__element-list">
										<li class="navbar__element-item navbar__element-item--header">repellendus
											<span class="menu-icon navbar__element-icon element-btn-js">
												<i class="menu-icon__plus fas fa-plus-square"></i>
												<i class="menu-icon__minus fas fa-minus-square"></i>
											</span>
										</li>
										<div class="navbar__element-sub-item element-item-js">
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">plans</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">shorts</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">t-shirt</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">lingerie</a></li>
											<li class="navbar__element-item"><a href="#" class="navbar__element-link">Cardigans & Sweaters</a></li>
										</div>
									</ul>
								</li>
							</ul>
						</li>
						<li class="navbar__item"><a href="#" class="navbar__link"><span class="navbar__inner">sale<i class="fas fa-angle-down navbar__icon"></i></span> </a>
							<ul class="navbar__sub-list navbar__sub-list--sale">
								<li class="navbar__sub-item navbar__sub-item--sale">
									<div class="sale">
										<a href="#" class="sale__img-top">
											<img src="img/large/asher_v-neck_cashmere_sweater_1_large.png" alt="" class="sale__picture">
										</a>
										<h4 class="sale__title"><a href="#" class="sale__link">Asher' V-Neck Cashmere...</a></h4>
										<p class="sale__price">
											<span class="sale__new-price">£27.88</span>
											<span class="sale__old-price">£27.67</span>
										</p>
									</div>
								</li>
								<li class="navbar__sub-item navbar__sub-item--sale">
									<div class="sale">
										<a href="#" class="sale__img-top">
											<img src="img/large/asymmetrical_collar_matte_jersey_dress_1_large.png" alt="" class="sale__picture">
										</a>
										<h4 class="sale__title"><a href="#" class="sale__link">Asymmetrical Collar Matte...</a></h4>
										<p class="sale__price">
											<span class="sale__new-price">£27.88</span>
											<span class="sale__old-price"></span>
										</p>
									</div>
								</li>
								<li class="navbar__sub-item navbar__sub-item--sale">
									<div class="sale">
										<a href="#" class="sale__img-top">
											<img src="img/large/belted_mulberry_silk_dress_1_large.png" alt="" class="sale__picture">
										</a>
										<h4 class="sale__title"><a href="#" class="sale__link">Belted Mulberry Silk Dress</a></h4>
										<p class="sale__price">
											<span class="sale__new-price">£27.88</span>
											<span class="sale__old-price">£27.67</span>
										</p>
									</div>
								</li>
								<li class="navbar__sub-item navbar__sub-item--sale">
									<div class="sale">
										<a href="#" class="sale__img-top">
											<img src="img/large/bleeker_pants_1_large.png" alt="" class="sale__picture">
										</a>
										<h4 class="sale__title"><a href="#" class="sale__link">Bicolor Techno Cotton Dress</a></h4>
										<p class="sale__price">
											<span class="sale__new-price">£27.88</span>
											<span class="sale__old-price"></span>
										</p>
									</div>
								</li>
							</ul>
						</li>
						<li class="navbar__item"><a href="about.html" class="navbar__link"><span class="navbar__inner">about us</span></a></li>
						<li class="navbar__item"><a href="contact.html" class="navbar__link"><span class="navbar__inner navbar__inner--last">contact us</span></a></li>
					</ul>
				</div>
			</nav>
			<div class="main-content">
				<div class="main-content__article">
					<ul class="breadcrumb clearfix">
						<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">home</a></li>
						<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">about</a></li>
					</ul>
					<section class="article clearfix">
						<div class="article__right-block">
							<h2 class="article__header">contact us</h2>
							<form action="" class="search-contact">
								<div>
									<input type="text" class="search-contact__field" placeholder="Your name...">
									<input type="text" class="search-contact__field" placeholder="Your email...">
									<input type="text" class="search-contact__field" placeholder="Your phone name...">
								</div>
								<textarea name="" id="" cols="30" rows="10" class="search-contact__field-area" placeholder="Your message..."></textarea>
								<button type="submit" class="search-contact__btn">send</button>
								<button  class="search-contact__btn">clear</button>
							</form>	
						</div>
						<div class="article__left-block">
							<h3 class="main-title">collections</h3>
							<ul class="collection clearfix">
								<li class="collection__item" v-for="collection in collections"><a v-bind:href="link" class="collection__link" v-bind:title="collection">{{ collection }}</a></li>
							</ul>
							<h3 class="main-title">product types</h3>
							<ul class="collection clearfix">
								<li class="collection__item" v-for="protype in protypes"><a v-bind:href="link" class="collection__link" v-bind:title="protype">{{ protype }}</a></li>
							</ul>
							<h3 class="main-title">best sellers</h3>
							<div class="sellers">
								<div class="sellers__outer">
									<div class="product-card product-card--sellers clearfix">
										<a href="product.html" class="product-card__top product-card__top--sellers">
											<img src="img/large/asher_v-neck_cashmere_sweater_1_large.png" alt="" class="product-card__back-img">
										</a>
										<div class="product-card__block product-card__block--sellers">
											<h5 class="product-card__title">
												<a href="#" class="product-card__link-title">Asher' V-Neck Cashmere...</a> 
											</h5>
											<p class="product__price">
												<span class="product-card__new-price">£27.88</span>
											</p>
											<div class="product-card__wrap-btn">
												<a href="#" class="btn btn--product product-card__btn">add to card</a>
												<a href="#" class="product-card__info product-card__info--sellers"><i class="fas fa-info-circle"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="sellers__outer">
									<div class="product-card  product-card--sellers clearfix">
										<a href="product.html" class="product-card__top product-card__top--sellers">
											<img src="img/large/asymmetrical_collar_matte_jersey_dress_1_large.png" alt="" class="product-card__back-img">
										</a>
										<div class="product-card__block product-card__block--sellers">
											<h5 class="product-card__title">
												<a href="#" class="product-card__link-title">Asymmetrical Collar Ma...</a> </h5>
											<p class="product-card__price">
												<span class="product-card__new-price">£27.88</span>
											</p>
											<div class="product-card__wrap-btn">
												<a href="#" class="btn btn--product product-card__btn">add to card</a>
												<a href="#" class="product-card__info  product-card__info--sellers"><i class="fas fa-info-circle"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="sellers__outer">
									<div class="product-card product-card--sellers clearfix">
										<a href="product.html" class="product-card__top product-card__top--sellers">
											<img src="img/large/belted_mulberry_silk_dress_1_large.png" alt="" class="product-card__back-img">
										</a>
										<div class="product-card__block product-card__block--sellers">
											<h5 class="product-card__title">
												<a href="#" class="product-card__link-title">Belted Mulberry Silk D...</a> </h5>
											<p class="product-card__price">
												<span class="product-card__new-price">£27.88</span>
											</p>
											<div class="product-card__wrap-btn">
												<a href="#" class="btn btn--product product-card__btn">add to card</a>
												<a href="#" class="product-card__info  product-card__info--sellers"><i class="fas fa-info-circle"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<footer class="footer">
					<div class="container">
						<div class="footer__wrap-item clearfix">
							<ul class="footer__list">
								<li class="footer__item footer__item--title">
									information
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">home</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">search</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">blog</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">about us</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">documentation</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">contact us</a>
								</li>
							</ul>
							<ul class="footer__list">
								<li class="footer__item footer__item--title">
									products
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">basic</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">blazers & sweaters</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">cardigants & sweater</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">dresses</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">jackets & coats</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">jeans</a>
								</li>
							</ul>
							<ul class="footer__list">
								<li class="footer__item footer__item--title">
									-
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">pants</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">shirts & blouse</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">shorts</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">skirts</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">top</a>
								</li>
							</ul>
							<ul class="footer__list">
								<li class="footer__item footer__item--title">
									my account
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">my account</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">my addresses</a>
								</li>
								<li class="footer__item">
									<a href="collection.html" class="a footer__link" href="#">my cart</a>
								</li>
							</ul>
							<div class="footer__social">
								<a href="#" class="footer__social-link"><i class="fab fa-facebook-f"></i></i></a>
								<a href="#" class="footer__social-link"><i class="fab fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		
		<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
		<script src="js/jquery.bxslider.js"></script>
		<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	    <script type="text/javascript" src="fancybox/jquery.easing-1.3.pack.js"></script>
	    <script type="text/javascript" src="fancybox/jquery.mousewheel-3.0.4.pack.js"></script>

		
		<script src="https://unpkg.com/vue"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/script.js"></script>	
		<script type="text/javascript">

			$(document).ready(function() {

				   
			});



		</script>
	</body>
</html>



